.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image{
  /* height: 500px;
  width: 1450px; */
  height: 400px;
  width: 100%;
  background-size: cover;

}

.form{
  margin-top: 5%;
}
.container {
  text-align: center;
}
.button{
  margin-top :5%;
}

.heading {
  font-family: 'Noto Sans JP', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;;
  color: black;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}

